.title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 50%;
}

.subtitle{
    font-weight: 50;
    font-size: 15px;
    margin-top: 0;
    padding-top: 0;
}

body{
    height: 100vh;
    background-image: url("../../assets/login-bg.png");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.login-form{
    margin-left: 20%;
    margin-top: 10%;
}

.login-full-width{
    width: 80%;
}

.send-otp{
    height: 45px;
    width: 60%;
    background-color: black;
    border-radius: 8px;
    margin-left: 8%;
    margin-top: 6%;
    border-style: 1px solid black;
    text-align: center;
    font-size: 20px;
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}