<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main-container" style="height: 100%;">
        <h2 class="anton-sc-regular title" style="color: white;">Connecting Fitness Enthusiasts</h2>
        <h3 class="anton-sc-regular title subtitle" style="color: white;">Earn money while training others at your gym or find a personal trainer for yourself!</h3>
        <div class="know-more anton-sc-regular"><span style="margin-top: 65%;">Know more</span></div>
        <div class="log-in anton-sc-regular"><span style="margin-top: 45%;color: white;" (click)="loginPage()">Log In</span></div>
        <p class="anton-sc-regular" style="color: white;text-align: center;" (click)="signupPage()">New user? Register here</p>
    </div>
</body>