<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
</head>

<body>
    <mat-toolbar style="background-color: gray;padding-right: 0px;">
        <div class="home-button toolbar-button" (click) = "goBack()" style="border-left: 1px;">
            <p class="home-button-text toolbar-text">Back</p>
          </div>
        <span class="toolbar-spacer"></span>
        <div class="home-button toolbar-button" style="margin-right: 10px;" (click) = "goToHome()">
            <p class="home-button-text toolbar-text">Home</p>
        </div>
        <img src="../../assets/icons/menu.svg" [matMenuTriggerFor]="menu" height="40px" width="40px" style="padding-right: 10px;"/>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>My requested sessions</button>
            <button mat-menu-item>About</button>
            <button mat-menu-item (click) = "logout()">Log out</button>
        </mat-menu>
    </mat-toolbar>

    <div style="height: 100%;">
            <mat-form-field class="find-trainer-ac">
              <mat-label>Choose your Gym</mat-label>
              <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto" 
              name="userGym" [(ngModel)] = "userGym" (ngModelChange) = "filterGyms()">
              <mat-autocomplete #auto="matAutocomplete">
                @for (gym of filteredGyms; track gym) {
                  <mat-option [value]="gym">{{gym}}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
            <div class="black-button anton-sc-regular" style="margin-left: 21%;margin-top: 0%;" (click)="searchGym()">
                <span style="margin-top: 45%;color: white;">Search</span>
            </div>

            <div class="sessions-cards">
                @for(trainer of trainers; track trainer){
                <mat-card class="session-card" (click)="requestSession(trainer)">
                    <mat-card-content style="margin-top: 20px;">
                    <p class="anton-sc-regular tile-text">Trainer name: {{trainer.username}}</p>
                    <p class="anton-sc-regular tile-text">Experience: {{trainer.exp}} years</p>
                    <p class="anton-sc-regular tile-text">Availability: {{trainer.availdays}} | {{trainer.availtime}} | {{trainer.meridian}}</p>
                    <p class="anton-sc-regular tile-text">About: {{trainer.bio}} </p>
                    <p class="anton-sc-regular tile-text" style="text-align: center; color: white;">Click to know more</p>
                    </mat-card-content>
                </mat-card>
                }
            </div>
    </div>
</body>