/* You can add global styles to this file, and also import other style files */
/* body{
    background: #BA5370;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #F4E2D8, #BA5370);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #F4E2D8, #BA5370); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* } */ 
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.inputs{
    width: 80%;
    margin-left: 10%;
}

.toolbar-button{
    width: 15%;
    height: 85%;
    color: white;
    font-size: 18px;
    text-align: center;
    border-left: 1px solid rgb(82, 82, 82);
    padding: 5px;
}

.toolbar-button-session{
    width: 50%;
    height: 85%;
    color: white;
    font-size: 18px;
    text-align: center;
    border-left: 1px solid rgb(82, 82, 82);
    border-top: 1px solid rgb(82, 82, 82);
    padding: 5px;
}

.toolbar-text{
    margin-top: 10px;
}

.darkgrey-text{
    color: #222222;
}

.black-button{
    height: 45px;
    width: 60%;
    background-color: black;
    border-radius: 8px;
    margin-left: 8%;
    margin-top: 6%;
    border-style: 1px solid black;
    text-align: center;
    font-size: 20px;
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}