<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
</head>

<body>
    <mat-toolbar style="background-color: gray;padding-right: 0px;">
        <span class="toolbar-spacer"></span>
        <div class="home-button toolbar-button" style="margin-right: 10px;">
            <p class="home-button-text toolbar-text">Home</p>
        </div>
        <div class="about-button toolbar-button" style="margin-right: 10px;">
            <p class="about-button-text toolbar-text">About</p>
        </div>
        <div class="contact-button toolbar-button" style="margin-right: 10px;">
            <p class="contact-button-text toolbar-text">Contact</p>
        </div>
    </mat-toolbar>  

    <h2 class="anton-sc-regular" style="color: white; text-align: center;">Welcome to Gym Buddy</h2>

    <div class="features" style="height: 83vh;margin-top: 10%;">

        <div class="feature-tile">
            <p class="anton-sc-regular tile-text">Forum</p>
            <p class="anton-sc-regular tile-subtext">A common place for all you gym freaks to chat, chill and connect.</p>
        </div>

        <div class="feature-tile">
            <p class="anton-sc-regular tile-text">Find a Trainer</p>
            <p class="anton-sc-regular tile-subtext">Find a person who is ready to guide and train you at your gym!</p>
        </div>

        <div *ngIf = "!isTrainer" class="feature-tile" (click) = "registerPage()">
            <p class="anton-sc-regular tile-text">Register as a Trainer</p>
            <p class="anton-sc-regular tile-subtext">Register yourself as a trainer and earn money by guiding people who need help in their workouts</p>
        </div>

        <div *ngIf = "isTrainer" class="feature-tile" (click) = "registerPage()">
            <p class="anton-sc-regular tile-text">Workout session requests</p>
            <p class="anton-sc-regular tile-subtext">As a trainer, you can find your workout sessions that people have requested for, here.</p>
        </div>

    </div>

</body>