body{
    height: 100vh;
    background-image: url("../../assets/home-bg.png");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.toolbar-button{
    width: 15%;
    height: 85%;
    color: white;
    font-size: 18px;
    text-align: center;
    border-left: 1px solid rgb(82, 82, 82);
    padding: 5px;
}

.toolbar-text{
    margin-top: 10px;
}

.feature-tile{
    height: 22%;
    width: 60%;
    background-color: gray;    
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile-text{
    text-align: center;
    padding-top: 10%;
    font-size: 20px;
}

.tile-subtext{
    text-align: center;
    padding-top: 3%;
    font-size: 15px;
}